@{
	Layout = null;
}

<footer class="footer bg-dark">

	<!-- Footer Content Start -->
	<div class="footer__content">
		<div class="container-fluid p-0">
			<div class="row g-0">
				<div class="col-12 content-block">

					<!-- Footer Logo Start -->
					<div class="footer__logo column">
						<!-- Your Logo Here -->
						<img src="~/allurio/HTML/assets/img/logo-footer-light.svg" alt="Allurio">
					</div>
					<!-- Footer Logo End -->
					<!-- Footer Slogan Start -->
					<div class="footer__slogan column">
						<p class="text-light-mute">Allurio - versatile and trendy coming soon & portfolio template to kick-start your new project!</p>
					</div>
					<!-- Footer Slogan End -->
					<!-- Footer Socials Start -->
					<div class="footer__socials column">
						<ul>
							<li>
								<a class="light" href="https://www.facebook.com/" target="_blank">
									<i class="fa-brands fa-facebook-square"></i>
								</a>
							</li>
							<li>
								<a class="light" href="https://www.instagram.com" target="_blank">
									<i class="fa-brands fa-instagram"></i>
								</a>
							</li>
							<li>
								<a class="light" href="https://twitter.com/" target="_blank">
									<i class="fa-brands fa-twitter"></i>
								</a>
							</li>
							<li>
								<a class="light" href="https://dribbble.com/" target="_blank">
									<i class="fa-brands fa-dribbble"></i>
								</a>
							</li>
						</ul>
					</div>
					<!-- Footer Socials End -->

				</div>
			</div>
		</div>
	</div>
	<!-- Footer Content End -->

</footer>
