@{
	Layout = null;
}

<footer>
	<div class="container">
		<div class="footer-inner">
			<div class="copyright">
				<p>Copyright 2022 - All right reserved</p>
			</div>
			<ul class="social">
				<li><a target="_blank" href="#">Facebook</a></li>
				<li><a target="_blank" href="#">Twitter</a></li>
				<li><a target="_blank" href="#">Instagram</a></li>
				<li><a target="_blank" href="#">Dribbble</a></li>
			</ul>
		</div>
	</div>
</footer>