
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">

    <!-- Page Title-->
    <title>Allurio - Coming Soon & Portfolio Template</title>

    <!-- Meta Tags-->
    <meta name="description" content="Allurio - versatile and trendy coming soon & portfolio template to kick-start your new project">
    <meta name="keywords" content="allurio, coming soon, under construction, template, coming soon, html5, css3, fashion, elegant, agency, personal page">
    <meta name="author" content="mix_design">

    <!-- Viewport Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Template Favicon & Icons Start -->
    <link rel="icon" href="~/allurio/HTML/assets/img/favicon/favicon.ico" sizes="any">
    <link rel="icon" href="~/allurio/HTML/assets/img/favicon/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="~/allurio/HTML/assets/img/favicon/apple-touch-icon.png">
    <link rel="manifest" href="~/allurio/HTML/assets/img/favicon/manifest.webmanifest">
    <!-- Template Favicon & Icons End -->
    <!-- Facebook Metadata Start -->
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="1200">
    <meta property="og:title" content="Allurio - Coming Soon & Portfolio Template">
    <meta property="og:description" content="Allurio - versatile and trendy coming soon & portfolio template to kick-start your new project">
    <meta property="og:url" content="http://mixdesign.club/themeforest/allurio/">
    <meta property="og:image" content="http://mixdesign.club/themeforest/allurio/favicon/og-image.jpg">
    <!-- Facebook Metadata End -->
    <!-- Template Styles Start -->
    <link rel="stylesheet" type="text/css" href="~/allurio/HTML/assets/css/loaders/loader-dark.css">
    <link rel="stylesheet" type="text/css" href="~/allurio/HTML/assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="~/allurio/HTML/assets/css/main.css">
    <!-- Template Styles End -->
    <!-- Custom Browser Color Start -->
    <meta name="theme-color" content="#111111">
    <meta name="msapplication-navbutton-color" content="#111111">
    <meta name="apple-mobile-web-app-status-bar-style" content="#111111">
    <!-- Custom Browser Color End -->
</head>