
@{
    Layout = null;
}

<div class="loader">
    <div class="loader__content">
        <div class="loader__logo">
            <!-- Your Logo Here -->
            <img src="~/allurio/HTML/assets/img/logo-light.svg" alt="Allurio - Coming Soon & Portfolio Template">
        </div>
    </div>
</div>



