
@{
    Layout = null;
}
<div id="loader" class="preloader">
	<div class="loading">
		<div class="profile-image">
			<img src="~/hagenclassic/assets/images/profile-loader.jpg" alt="">
			<svg style="position: absolute;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="none">
				<circle class="js-circle circle" cx="50" cy="50" r="48" stroke="white" stroke-width="2" fill="none" />
				<circle class="js-circle circletwo" cx="50" cy="50" r="48" stroke="white" stroke-width="2" fill="none" />
			</svg>
		</div>
	</div>
</div>


