@{
	Layout = null;
}

<nav id="menu" class="menu bg-dark">

	<!-- Menu Header Start -->
	<div class="menu__header bg-dark">
		<div class="header-content">

			<!-- Menu Close Button Start -->
			<div class="close-button">
				<a href="#0" id="menu-close" class="menu-close light">
					<span class="close-caption">Close</span>
					<span class="close-x"></span>
				</a>
			</div>
			<!-- Menu Close Button End -->

		</div>
	</div>
	<!-- Menu Header End -->
	<!-- Menu Content Start -->
	<div class="menu__content">
		<div class="container-fluid p-0 fullheight">
			<div class="row g-0 fullheight">

				<!-- Navigation Start -->
				<div class="col-12 col-lg-4">
					<div class="menu__navigation">
						<!-- Navigation list -->
						<div class="navigation-content">
							<!-- Navigation links -->
							<ul class="navigation column">
								<li>
									<a href="#main" id="home-trigger" class="light">Home</a>
								</li>
								<li>
									<a href="#about" id="about-trigger" class="light">About us</a>
								</li>
								<li>
									<a href="#portfolio" id="portfolio-trigger" class="light">Portfolio</a>
								</li>
								<li>
									<a href="#services" id="services-trigger" class="light">Services</a>
								</li>
								<li>
									<a href="#contact" id="contact-trigger" class="light">Contact</a>
								</li>
								<li>
									<a href="#contact" id="contact-trigger" class="light">Blog</a>
								</li>



							</ul>
						</div>
						<!-- Navigation copyright -->
						<div class="navigation-copyright">
							<div class="copyright column">
								<p class="text-light-base"><a class="light" href="https://themeforest.net/user/mix_design/portfolio" target="_blank">Mix_Design</a> 2023 all rights reserved</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Navigation End -->
				<!-- Menu Photo Start -->
				<div class="col-12 col-lg-5">
					<div class="menu__image">
						<div class="menu-image menu-image-1"></div>
					</div>
				</div>
				<!-- Menu Photo End -->
				<!-- Menu Contact Start -->
				<div class="col-12 col-lg-3">
					<div class="menu__contact">
						<div class="contact-content">
							<div class="contact column">
								<!-- Menu contact single item -->
								<div class="contact-item">
									<p class="text-light">
										11 West 53 Street
										<br>New York, NY
										<br>10019
									</p>
								</div>
								<!-- Menu contact single item -->
								<div class="contact-item">
									<a href="tel:+12127089400" class="light">+1 212-708-9400</a>
									<br>
									<a href="mailto:example@example.com?subject=Message%20from%20your%20site" class="light">hello@allurio.com</a>
								</div>
								<!-- Menu contact single item -->
								<div class="contact-item">
									<ul>
										<li>
											<a href="https://www.facebook.com/" class="light" target="_blank">
												<i class="fa-brands fa-facebook-square"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com" class="light" target="_blank">
												<i class="fa-brands fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/" class="light" target="_blank">
												<i class="fa-brands fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="https://dribbble.com/" class="light" target="_blank">
												<i class="fa-brands fa-dribbble"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Menu Contact End -->

			</div>
		</div>
	</div>
	<!-- Menu Content End -->

</nav>
