<div class="col-xl-6 offset-xl-1 scale-animation" data-delay="2" data-duration="3">
	<!-- form -->
	<div id="contact-formular">
		<p class="little-p info-title">Or fill this form</p>
		<div class="spacer-10"></div>
		<div id="message"></div>
		<form method="post" action="/Default/SendMessage" class="row" autocomplete="off">
			<!-- name -->
			<div class="col-xl-12 contact-bar">
				<input type="text" style="display:none" />
				<input class="inp" name="Name" type="text" placeholder="Ad Soyad" id="name">
			</div>
			<!-- email -->
			<div class="col-xl-12 contact-bar">
				<input class="inp" name="Email" type="text" placeholder="Email" id="email">
			</div>
			<!-- subject -->
			<div class="col-xl-12 contact-bar">
				<input class="inp" name="Subject" type="text" placeholder="Konu" id="company">
			</div>
			<!-- body -->
			<div class="col-xl-12 contact-bar">
				<textarea class="inp" name="Body" id="comments" rows="3" placeholder="İletmek istediğiniz mesaj."></textarea>
			</div>
			<!-- button -->
			<div class="form-btn col-xl-12 contact-bar">
				<input class="site-btn" type="submit" value="Send">
			</div>
		</form>
	</div>
</div> 