@model List<Service>
@{
	Layout = null;
}

<div class="services scale-animation" data-delay="1.3">
	<div class="spacer-45"></div>
	<div class="spacer-45"></div>
	<h5 class="underline-title">What i do</h5>

	<div class="row services">
		<div class="spacer-60"></div>
		<!-- a service -->
		@foreach (var item in Model)
		{
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
				<div class="service-item">
					<i class="flaticon-web-design"></i>
					<h5>@item.Name <br> </h5>
				</div>
			</div>
		}
	</div>
</div>