@model Models.BlogDetail

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/ThemaLayout.cshtml";
}

<div class="single-blog">
	<!-- Page Caption -->
	<div class="single-post-metas">
		<div class="blog-date"> </div>
		<div class="categories">
			<a class="category" href="http://localhost:8888/Wp-starting-pack/category/uncategorized/" rel="category tag"><span data-hover="Uncategorized">Uncategorized</span></a>
		</div>
	</div>
	<div class="single-post-title">
		<h1 class="big-title">@Model.Name</h1>
	</div>
	<div class="spacer-45"></div>
	<!-- Image -->
	<div class="about-image clip-animation" data-delay="1" data-duration="2">
		<img src="@Model.ImageUrl" alt="">
	</div>
	<div class="spacer-45"></div>
	<!-- Article Text -->
	<div class="blog-entry scale-animation" data-delay="1" data-duration="2">
		@Model.Description
	</div>

	<!-- tags -->
	<div class="col-xl-12 scale-animation">
		<div class="tags">
			<i class="fas fa-tag"></i>
			<ul>
				<li><a href="#" data-cursor-type="big">Wordpress</a></li>
				<li><a href="#" data-cursor-type="big">Creative</a></li>
				<li><a href="#" data-cursor-type="big">Blog</a></li>
				<li><a href="#" data-cursor-type="big">Theme</a></li>
			</ul>
		</div>
	</div>

	<div class="spacer-60"></div>
	<!-- form -->
	<div id="contact-formular" class="col-xl-8 scale-animation">
		<h5 class="underline-title">Leave a message</h5>
		<div class="spacer-30"></div>
		<form method="post" name="contactform" id="contactform" class="row" autocomplete="off">
			<!-- name -->
			<div class="col-xl-6">
				<input type="text" style="display:none" />
				<input class="inp" name="name" type="text" placeholder="Name" id="name">
			</div>
			<!-- email -->
			<div class="col-xl-6">
				<input class="inp" name="email" type="text" placeholder="Email" id="email">
			</div>
			<!-- about project -->
			<div class="col-xl-12">
				<textarea class="inp" name="comments" id="comments" rows="3" placeholder="Message"></textarea>
			</div>
			<!-- button -->
			<div class="form-btn col-xl-12">
				<input class="site-btn" type="submit" value="Send">
			</div>
		</form>
	</div>






</div>

