@model List<Portfolio>
@{
	Layout = null;
}
<section class="portfolio" id="portfolio">
	<div class="spacer-75"></div>
	<!-- Page Caption -->
	<div class="section-title page-caption">
		<h5>Portfolio</h5>
		<div class="zigzag">
			<hr class="left">
			<hr class="right">
			<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
			<path d="M1.357,12.26 10.807,2.81 20.328,12.332
                        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path>
						</svg>
		</div>
	</div>
	<div class="spacer-45"></div>

	<div class="section-head">
		<!-- Filter -->
		<div class="portfolio_filter">
			<ul>
				<li><a class="select-cat" data-filter="*" href="#">All Works</a></li>
				<li><a data-filter=".photography" href="#">Photography</a></li>
				<li><a data-filter=".branding" href="#">Branding</a></li>
				<li><a data-filter=".other" href="#">Other</a></li>
			</ul>
		</div>
		<div class="spacer-60"></div>
	</div>
	<div class="row masonry">

		@foreach (var item in Model)
		{
			<!-- portfolio item -->
			<a href="work-1.html" class="col-xl-4 col-lg-6 col-md-6 grid-item photography">
				<div class="work-holder scale-animation" data-duration="2" data-delay=".3">
					<figure class="portfolio-item">
						<img src="@item.Image" alt="">
						<figcaption>
							<div class="outer">
								<div class="inner">
									<span>@item.Name </span>
									<h3 class="title">@item.Name</h3>
								</div>
							</div>
						</figcaption>
					</figure>
				</div>
			</a>
		}
	</div>
</section>