@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div>
	<div class="card">
		<div class="card-header text-white bg-danger bg-gradient">
			<span class="fs-4">Projeler</span>
			<a href="#" id="btnEkle" class="btn btn-warning ms-2">Yeni Blog Kategori Ekle</a>
		</div>
		<div class="card-body">
			<table id="blogTable" class="table table-bordered table-striped" style="width:100%">
				<thead>
					<tr>
						<th>#</th>
						<th>Adı</th>
						<th>Açıklama</th>
						<th>Açıklama2</th>
						<th>Açıklama3</th>
						<th>Görsel</th>
						<th>Görsel2</th>
						<th>Görsel3</th>
						<th>Etiketler</th>
						<th>Oluşturulma Tarihi</th>
						<th>İşlemler</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>


<script>
	$(document).ready(function () {

		var dataTable = $('#blogTable').DataTable({
			ajax: {
				url: '/Admin/BlogDetail/GetAll',
				dataSrc: ''
			},
			columns: [
				{ data: 'id' },
				{ data: 'name' },
				{ data: 'description' },
				{ data: 'description2' },
				{ data: 'description3' },
				{ data: 'imageUrl' },
				{ data: 'imageUrl2' },
				{ data: 'imageUrl3' },
				{ data: 'tags' },
				{ data: 'dataCreated' },
				{
					data: null,
					render: function (data, type, row) {
						return `<a href="#" onclick="DeleteBlogCategory(${row.id})" class="btn btn-sm btn-danger">Sil</a>
								<a href="#" onclick="editMessage(${data.id})" class="btn btn-sm btn-primary">Düzenle</a>`;
					}
				}
			]
		});

		function DeleteBlogCategory(id) {
			Swal.fire({
				title: 'Silmek istediğinize emin misiniz?',
				text: "Hizmet Silinecek",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Sil!'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: '/Admin/BlogDetail/BlogDelete' + id,
						method: 'POST',
						success: function () {
							Swal.fire(
								'Başarılı!',
								'Kategori silindi.',
								'success'
							);
							dataTable.ajax.reload();
						},
						error: function () {
							Swal.fire(
								'Hata!',
								'Kategori silinemedi.',
								'error'
							);
						}
					});
				}
			});
		}

	});
</script>
