@model List<Models.Contact>
@{
	Layout = null;
}

<section class="contact" id="contact">
	<div class="spacer-75"></div>
	<!-- Page Caption -->
	<div class="section-title page-caption">
		<h5>İletişim</h5>
		<div class="zigzag">
			<hr class="left">
			<hr class="right">
			<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
			<path d="M1.357,12.26 10.807,2.81 20.328,12.332
                      29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path>
					  </svg>
		</div>
	</div>
	<div class="spacer-45"></div>
	<div class="row">
		<!-- Map -->
		<div id="map" class="map scale-animation" data-delay="2" data-duration="3"></div>


		<div class="spacer-75"></div>
		<!-- contact info -->
		@foreach (var item in Model)
		{
			<div class="col-xl-5 scale-animation" data-delay="2" data-duration="3">
				<div class="contact-info email">
					<p class="little-p info-title">Bana Ulaş!</p>
					<a href="mailto:hello@mosbycreative.com">@item.Email</a>
				</div>
				<div class="contact-info address">
					<p class="little-p info-title">İş Yeri</p>
					<p>
						@item.Phone
					</p>
				</div>
				<div class="contact-info address">
					<p class="little-p info-title">Adres</p>
					<p>
						@item.Address
					</p>
				</div>
				<div class="contact-info social">
					<p class="little-p info-title">Takip Et</p>
					<a href="#">Linkedin.</a>
					<a href="#">GitHub.</a>
					<a href="#">Medium.</a>

				</div>
			</div>
		}

		@await Html.PartialAsync("SendMessage")
	</div>

	<!-- clients -->
	<div class="client-slider  scale-animation">
		<ul class="bxslider">
			<li><img src="~/hagenclassic/assets/images/clients/client-1d.png" alt="" /></li>
			<li><img src="~/hagenclassic/assets/images/clients/client-2d.png" alt="" /></li>
			<li><img src="~/hagenclassic/assets/images/clients/client-3d.png" alt="" /></li>
			<li><img src="~/hagenclassic/assets/images/clients/client-4d.png" alt="" /></li>
			<li><img src="~/hagenclassic/assets/images/clients/client-5d.png" alt="" /></li>
			<li><img src="~/hagenclassic/assets/images/clients/client-6d.png" alt="" /></li>
			<li><img src="~/hagenclassic/assets/images/clients/client-7d.png" alt="" /></li>
		</ul>
	</div>
</section>