@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div>
	<div class="card">
		<div class="card-header text-white bg-danger bg-gradient">
			<span class="fs-4">Projeler</span>
			<a href="#" id="btnEkle" class="btn btn-warning ms-2">Yeni Proje Ekle</a>
		</div>
		<div class="card-body">
			<table id="workTable" class="table table-bordered table-striped" style="width:100%">
				<thead>
					<tr>
						<th>#</th>
						<th>Proje Adı</th>
						<th>Açıklama</th>
						<th>İkon</th>
						<th>Oluşturulma Tarihi</th>
						<th>İşlemler</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
	 aria-labelledby="modalTitleId" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Yeni Proje Oluştur</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="mb-3">
						<label class="form-label">Proje Adı</label>
						<input type="text" id="txtName" class="form-control">
					</div>
					<div class="mb-3">
						<label class="form-label">Açıklama</label>
						<textarea id="txtTitle" class="form-control"></textarea>
					</div>
					<div class="mb-3">
						<label class="form-label">İkon</label>
						<textarea id="txtIcon" class="form-control"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
				<a href="#" id="btnSave" class="btn btn-primary">Gönder</a>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function () {
		$("#btnEkle").click(function () {
			$("#modalTitle").text("Yeni Proje Oluştur");
			$("#btnSave").text("Kaydet").removeClass('btn-success').addClass('btn-primary');
			$("#txtName").val("");
			$("#txtTitle").val("");
			$("#txtIcon").val("");

			$("#modal").modal('show');

			$("#btnSave").off().click(function () {
				var veri = {
					name: $("#txtName").val(),
					title: $("#txtTitle").val(),
					image: $("#txtIcon").val()
				};

				$.ajax({
					type: 'POST',
					url: '/Admin/Portfolio/WorkAdd',
					data: veri,
					success: function (res) {
						$("#modal").modal('hide');
						$("#txtName").val("");
						$("#txtTitle").val("");
						$("#txtIcon").val("");
						dataTable.ajax.reload();
					},
					error: function (error) {
						Swal.fire(
							'Hata!',
							'Proje ekleme işlemi başarısız oldu. Hata: ' + error.statusText,
							'error'
						);
					}
				});
			});
		});

		var dataTable = $('#workTable').DataTable({
			ajax: {
				url: '/Admin/Portfolio/GetAll',
				dataSrc: ''
			},
			columns: [
				{ data: 'id' },
				{ data: 'name' },
				{ data: 'title' },
				{ data: 'image' },
				{ data: 'dataCreated' },
				{
					data: null,
					render: function (data, type, row) {
						return `<a href="#" onclick="deleteWork(${row.id})" class="btn btn-sm btn-danger">Sil</a>
																								<a href="#" onclick="editMessage(${data.id})" class="btn btn-sm btn-primary">Düzenle</a>`;
					}
				}
			]
		});

		function deleteWork(workId) {
			Swal.fire({
				title: 'Silmek istediğinize emin misiniz?',
				text: "Proje Silinecek",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Sil!'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: '/Admin/Portfolio/WorkDelete/' + workId,
						method: 'POST',
						success: function () {
							Swal.fire(
								'Başarılı!',
								'Proje silindi.',
								'success'
							);
							dataTable.ajax.reload();
						},
						error: function () {
							Swal.fire(
								'Hata!',
								'Proje silinemedi.',
								'error'
							);
						}
					});
				}
			});
		}
	});
</script>

