@{
	Layout = null;
}

<head>
	<meta charset="utf-8">

	<!-- Page Title-->
	<title>Allurio - Coming Soon & Portfolio Template</title>

	<!-- Meta Tags-->
	<meta name="description" content="Allurio - versatile and trendy coming soon & portfolio template to kick-start your new project">
	<meta name="keywords" content="allurio, coming soon, under construction, template, coming soon, html5, css3, fashion, elegant, agency, personal page">
	<meta name="author" content="mix_design">

	<!-- Viewport Meta-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Favicon & Icons Start -->
	<link rel="icon" href="~/allurio/HTML/assets/img/favicon/favicon.ico" sizes="any">
	<link rel="icon" href="~/allurio/HTML/assets/img/favicon/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="~/allurio/HTML/assets/img/favicon/apple-touch-icon.png">
	<link rel="manifest" href="~/allurio/HTML/assets/img/favicon/manifest.webmanifest">
	<!-- Template Favicon & Icons End -->
	<!-- Facebook Metadata Start -->
	<meta property="og:image:height" content="1200">
	<meta property="og:image:width" content="1200">
	<meta property="og:title" content="Allurio - Coming Soon & Portfolio Template">
	<meta property="og:description" content="Allurio - versatile and trendy coming soon & portfolio template to kick-start your new project">
	<meta property="og:url" content="http://mixdesign.club/themeforest/allurio/">
	<meta property="og:image" content="http://mixdesign.club/themeforest/allurio/favicon/og-image.jpg">
	<!-- Facebook Metadata End -->
	<!-- Template Styles Start -->
	<link rel="stylesheet" type="text/css" href="~/allurio/HTML/assets/css/loaders/loader-dark.css">
	<link rel="stylesheet" type="text/css" href="~/allurio/HTML/assets/css/plugins.css">
	<link rel="stylesheet" type="text/css" href="~/allurio/HTML/assets/css/main.css">
	<!-- Template Styles End -->
	<!-- Custom Browser Color Start -->
	<meta name="theme-color" content="#111111">
	<meta name="msapplication-navbutton-color" content="#111111">
	<meta name="apple-mobile-web-app-status-bar-style" content="#111111">
	<!-- Custom Browser Color End -->
</head>

<header id="header" class="header transparent">
	<div class="header__content">

		<!-- Logo Start -->
		<div class="logo">
			<!-- Your Logo Here -->
			<img src="~/allurio/HTML/assets/img/logo-light.svg" alt="Allurio - Coming Soon & Portfolio Template">
		</div>
		<!-- Logo End -->
		<!-- Menu Trigger Start -->
		<div class="menu-button">
			<a href="#0" id="menu-trigger" class="menu-trigger">
				<span class="menu-caption">Menu</span>
				<span class="menu-burger"></span>
			</a>
		</div>
		<!-- Menu Trigger End -->

	</div>
</header>

<section id="about" class="inner about">

	<!-- Section Info Start -->
	<div class="inner__info bg-dark">
		<div class="info__wrapper">
			<div class="container-fluid p-0">
				@RenderBody()
			</div>
		</div>
	</div>



</section>

<footer class="footer bg-dark">

	<!-- Footer Content Start -->
	<div class="footer__content">
		<div class="container-fluid p-0">
			<div class="row g-0">
				<div class="col-12 content-block">

					<!-- Footer Logo Start -->
					<div class="footer__logo column">
						<!-- Your Logo Here -->
						<img src="~/allurio/HTML/assets/img/logo-footer-light.svg" alt="Allurio">
					</div>
					<!-- Footer Logo End -->
					<!-- Footer Slogan Start -->
					<div class="footer__slogan column">
						<p class="text-light-mute">Allurio - versatile and trendy coming soon & portfolio template to kick-start your new project!</p>
					</div>
					<!-- Footer Slogan End -->
					<!-- Footer Socials Start -->
					<div class="footer__socials column">
						<ul>
							<li>
								<a class="light" href="https://www.facebook.com/" target="_blank">
									<i class="fa-brands fa-facebook-square"></i>
								</a>
							</li>
							<li>
								<a class="light" href="https://www.instagram.com" target="_blank">
									<i class="fa-brands fa-instagram"></i>
								</a>
							</li>
							<li>
								<a class="light" href="https://twitter.com/" target="_blank">
									<i class="fa-brands fa-twitter"></i>
								</a>
							</li>
							<li>
								<a class="light" href="https://dribbble.com/" target="_blank">
									<i class="fa-brands fa-dribbble"></i>
								</a>
							</li>
						</ul>
					</div>
					<!-- Footer Socials End -->

				</div>
			</div>
		</div>
	</div>
	<!-- Footer Content End -->

</footer>

<script src="~/allurio/HTML/assets/js/libs.min.js"></script>
<script src="~/allurio/HTML/assets/js/gallery-init.js"></script>
<script src="~/allurio/HTML/assets/js/custom.js"></script>