@{
	Layout = null;
}

<section id="resume">
	<div class="spacer-75"></div>
	<!-- Page Caption -->
	<div class="section-title page-caption">
		<h5>My Resume</h5>
		<div class="zigzag">
			<hr class="left">
			<hr class="right">
			<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
			<path d="M1.357,12.26 10.807,2.81 20.328,12.332
                      29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path>
					  </svg>
		</div>
	</div>

	<!-- Timeline Work -->
	<div class="spacer-45"></div>
	<div class="timeline-caption-outer">
		<div class="timeline-caption">👨‍💻 <span>Works Experiences</span></div>
	</div>
	<div class="timeline row">
		<!-- item -->
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 timeline-item clip-animation from-top"
			 data-duration="1.5">
			<div class="timeline-outer">
				<span class="mini-text">2010 - Present</span>
				<h5>Art Director - Facebook Inc</h5>
				<p class="little-p">
					I would gladly pay over 600 dollars for tavonline. Tavonline has really helped
					our business. I like tavonline more and more each day because it makes my life a lot easier.
				</p>
			</div>
		</div>
		<!-- item -->
		<div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6 col-md-6 offset-md-6 col-sm-12 timeline-item  clip-animation from-top"
			 data-duration="1.5" data-delay=".4">
			<div class="timeline-outer">
				<span class="mini-text">2008 - 2010</span>
				<h5>Senior Designer - Google</h5>
				<p class="little-p">
					I would gladly pay over 600 dollars for tavonline. Tavonline has really helped
					our business. I like tavonline more and more each day because it makes my life a lot easier.
				</p>
			</div>
		</div>
		<!-- item -->
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 timeline-item clip-animation from-top"
			 data-duration="1.5" data-delay=".8">
			<div class="timeline-outer">
				<span class="mini-text">2005 - 2008</span>
				<h5>Junior Designer - Creative Shake</h5>
				<p class="little-p">
					I would gladly pay over 600 dollars for tavonline. Tavonline has really helped
					our business. I like tavonline more and more each day because it makes my life a lot easier.
				</p>
			</div>
		</div>
		<!-- item -->
		<div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6 col-md-6 offset-md-6 col-sm-12  timeline-item clip-animation from-top"
			 data-duration="1.5" data-delay="1.2">
			<div class="timeline-outer">
				<span class="mini-text">2004 - 2008</span>
				<h5>Junior Designer - Grovemade</h5>
				<p class="little-p">
					I would gladly pay over 600 dollars for tavonline. Tavonline has really helped
					our business. I like tavonline more and more each day because it makes my life a lot easier.
				</p>
			</div>
		</div>
		<!-- item -->
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 timeline-item clip-animation from-top"
			 data-duration="1.5" data-delay="1.7">
			<div class="timeline-outer">
				<span class="mini-text">2000 - 2004</span>
				<h5> - Facebook Inc</h5>
				<p class="little-p">
					I would gladly pay over 600 dollars for tavonline. Tavonline has really helped
					our business. I like tavonline more and more each day because it makes my life a lot easier.
				</p>
			</div>
		</div>
	</div>


	<!-- Timeline -->
	<div class="spacer-120"></div>
	<div class="timeline-caption-outer">
		<div class="timeline-caption">🎓 <span>Education</span></div>
	</div>
	<div class="timeline row">
		<!-- item -->
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 timeline-item clip-animation from-top"
			 data-duration="1.5" data-delay=".5">
			<div class="timeline-outer">
				<span class="mini-text">2004 - 2009</span>
				<h5>Abc University of Los Angeles</h5>
				<p class="little-p">
					I would gladly pay over 600 dollars for tavonline. Tavonline has really helped
					our business. I like tavonline more and more each day because it makes my life a lot easier.
				</p>
			</div>
		</div>
		<!-- item -->
		<div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6 col-md-6 offset-md-6 col-sm-12 timeline-item clip-animation from-top"
			 data-duration="1.5" data-delay=".7">
			<div class="timeline-outer">
				<span class="mini-text">2004 - 2003</span>
				<h5>Drawing Course</h5>
				<p class="little-p">
					I would gladly pay over 600 dollars for tavonline. Tavonline has really helped
					our business. I like tavonline more and more each day because it makes my life a lot easier.
				</p>
			</div>
		</div>
		<!-- item -->
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 timeline-item clip-animation from-top"
			 data-duration="1.5" data-delay="1">
			<div class="timeline-outer">
				<span class="mini-text">2000 - 2003 </span>
				<h5>Abc High School </h5>
				<p class="little-p">
					I would gladly pay over 600 dollars for tavonline. Tavonline has really helped
					our business. I like tavonline more and more each day because it makes my life a lot easier.
				</p>
			</div>
		</div>
		<!-- item -->
		<div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6 col-md-6 offset-md-6 col-sm-12 timeline-item clip-animation from-top"
			 data-duration="1.5" data-delay="1.2">
			<div class="timeline-outer">
				<span class="mini-text">2010 - Present</span>
				<h5>Abc Collage of Los Angeles</h5>
				<p class="little-p">
					I would gladly pay over 600 dollars for tavonline. Tavonline has really helped
					our business. I like tavonline more and more each day because it makes my life a lot easier.
				</p>
			</div>
		</div>
	</div>

	<div class="spacer-60"></div>

	@await Component.InvokeAsync("SkillList")
</section>